/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:link {
    color: #009FE7;
    text-decoration: none;
}

a:visited {
    color: #9456B6;
    text-decoration: none;
}

a:hover {
    color: #006D9F;
}

a:active {
    color: #FF5175;
    text-decoration: none;
}

.masthead {
    max-width: 500px;
    text-align: center;
    margin: 39.6px auto 96.8px auto;
}

.navigation-wrapper {
    font-family: "chaparral-pro", serif;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.8em;
    max-width: 500px;
    margin: 1.8em auto;
    text-align: center;
}

.navigation-wrapper ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.navigation-wrapper li {
    display: block;
    float: left;
    list-style: none;
}

.navigation-wrapper a
{
    display: block;
    padding: 0 20px;
    color: #333;
}

.post {
    /*font-family: "jaf-facitweb",sans-serif;*/
    font-family: "chaparral-pro",serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4em;
    color: #333333;
    line-height: 1.8em; 
    margin-left: auto;
    margin-right: auto;
    width: 41em;
}

.icon {
    font-size: 16px;
    margin-right: 0.5em;
}
.post-title {
    font-family: "chaparral-pro-display";
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0.198em;
    margin-bottom: 0.6em;
}

.post-meta {
    float: left;
    width: 7em;
    padding-right: 2em;
}

.post-content {
    width: 32em;
    display: block;
    float: left;
}

.post-content>p {
    margin: 0 0 1.8em 0;
}

.post-meta>span {
    display: block;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#home {
    width: 32em;
    font-family: "chaparral-pro-subhead",serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8em;
    margin: 0 auto;
    text-align: center;
}

.posts {
    list-style: none;
}

.posts li {
    margin-bottom: 2em;
}
.post-link {
    font-family: "chaparral-pro-display", serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    margin: 0 0;
}

.post-link-title {

}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}